
@{
    ViewBag.Title = "История";
    ViewBag.Action = "history";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Этот раздел будет добавлен позже.</p>
